!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title No-Nonsense NoSQL
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="description", content="No-nonsense NoSQL")
    link(href="./assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .reveal
      .opi-logo
      .slides
        section(data-state="index-slide")
          h1 No-Nonsense NoSQL
          p.
            <small><a href="http://twitter.com/jennstrater">@jennstrater</a>  | Senior Consultant | <a href="http://www.objectpartners.com/">Object Partners</a></small>
        section(data-state="github-slide", class="github-section")
          h1 <i class="fa fa-icon fa-github"></i>
          p
            a(href="http://jlstrater.github.io/No-Nonsense-NoSQL") http://jlstrater.github.io/No-Nonsense-NoSQL
          p
            a(href="http://github.com/jlstrater/no-nonsense-nosql",target="_blank") Slides(source)
          p
            a(href="http://jlstrater.github.io/No-Nonsense-NoSQL?print-pdf#/", target="_blank") Printable PDF

        section
          h2 Agenda
          ul
            li Definition
            li Types
            li Gr8Ladies Example Application
            ul
                li MongoDB
                li Redis

        section
          h2 What is NoSQL?
          ul.fragment
            li.fragment Not Only SQL
            li.fragment Group of data storage solutions that are not Relational Database Management System(RDBMS)
            ul.fragment
              li Schemaless
              li Non-relational
          aside.notes.
            Originally NoSQL was used to refer to databases that did not use SQL or as 'not sql'.  Over time, the phrase
            has evolved to mean Not Only SQL.  As a broad definition, NoSQL describes a group of storage solutions
            that are not tabular like traditional relational databases.
        section
          h2 Types of NoSQL solutions
          ul
            li Key-value
            li Document
            li Column
            li Graph
        section
          section
            h2 Key-value Stores
            img(src='./assets/img/KeyValuePair.jpg')
          section
            h2 Examples
            ul.ul-no-style
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/memcached-logo.png'/>MemCached
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/dynamo-db.png'/>DynamoDB
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/redis-logo.png'/><b>Redis<sup>*</sup></b>
          section
            h2 Uses
            ul
              li Content Caching
              li Transient Data
              ul
                li Session Data
              li Image Stores
          section
            h2 Considerations
            ul
              li No relationships
              li No transactions
              li Querying

        section
          section
            h2 Document Stores
            img(src='./assets/img/Documents.jpg', height='75%', width='75%')
          section
            h2 Examples
            ul.ul-no-style
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/couchdb.png'/>CouchDB
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/ravendb.png'/>RavenDB
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/documentdb.png'/>Azure DocumentDB
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/mongodb.png'/><b>MongoDB</b>
          section
            h2 Uses
            ul
              li Content Management Systems(CMS) / Blogging Platforms
              li Forms/data with many optional fields
              li Frequently Changing Schemas
          section
            h2 Considerations
            ul
              li Complex transactions
              li Complex searching
          aside.notes.
              especially if searching is within the embedded structures


        section
          section
            h2 Column Databases
            img(src='./assets/img/ColumnFamily.jpg')
          section
            h2 Examples
            ul.ul-no-style
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/cassandra.png'/>Cassandra
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/hbase.png'/>HBase
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/hypertable.jpg'/>Hypertable
          section
            h2 Use Cases
            ul
              li CMS Systems/ Blogging Platforms
              li Log Aggregators
              li Incremental Counters
          section
            h2 Considerations
            ul
              li Schema Changes
              li Arbitrary unstructured data
        section
          section
            h2 Graph Databases
            img(src='./assets/img/GraphDatabase.jpg')
          section
            h2 Examples
            ul.ul-no-style
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/neo4j.png'/>Neo4J
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/orientdb.png'/>OrientDB
              li <img class="inline-img" src='./assets/img/CompanyAndProductLogos/allegrograph.png'/>Allegro Graph
          section
            h2 Uses
            ul
              li Many connections between data
              ul
                li Social Networks
                li E-commerce Recommendations
              li Nearby Locations and Routing
          section
            h2 Considerations
            ul
              li Casscading writes
              li Very different way of thinking about data

        section
          h2 Suggested Reading
          ul
            li Sadalage, Pramod J., and Martin Fowler. <ital>NoSQL Distilled: A Brief Guide to the Emerging World of Polyglot Persistence</ital>. Addison-Wesley Professional, 2012. Print.
            li Vardanyan, Mikayel. "Picking the Right NoSQL Database Tool." <ital>Monitis Blog</ital>. 22 May 2011. Web.
            li Copeland, Rick. <ital>MongoDB Applied Design Patterns</ital>. O'Reilly Media, 2013. Print.
            li Chinnachamy, Arun. <ital>Redis Applied Design Patterns</ital>. Packt Publishing, 2014. Print.

        section
          h2 How do I pick just one?
          h3.fragment You don't have to!
        aside.notes.
          NoSQL data stores are meant to enhance existing solutions not be a one size fits all solution.  Mix and match for various tasks.

        section
          h2 Example Task
          p Gr8Ladies Products
          ul
            li Catalog Products
            li Shopping Cart

        section
          h3 Approaches
          ul
            li All In - <strong><code>MongoDB GORM</code></strong>
            li Partial - <strong><code>Grails-Redis plugin</code></strong>

        section
          <img class="inline-img" src='./assets/img/CompanyAndProductLogos/mongodb.png'/>
          h3 MongoDB
          p Terminology
          ul
            li Databases
            li Collections
            li Document

    script(src="./assets/js/app.js")

    // If the query includes 'print-pdf', use the PDF print sheet
    script(type='text/javascript').
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      } else if ( window.location.search.match( /print-paper/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }

